body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #f7eb95;
  background: #34434d;
  font-family: cursor, monospace;
  overflow-x: hidden;
}
::selection {
  color: #073641;
  background-color: #f7eb95;
}
::-moz-selection {
  color: #073641;
  background-color: #f7eb95;
}
textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #f7eb95;
  background-color: #f7eb95;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #f7eb95;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #f7eb95;
  content: "guest@maximilianrogge.com:~$";
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #e8e8e8;
}
.color2 {
  color: #80cbc3;
}
.command {
  color: #ff2490;
  text-shadow: 0 0 5px #ff2490;
}
.error {
  color: #80cbc3;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #eb606b;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #f7eb95;
  color: #073641;
}
a:focus {
  outline: 0;
}
